@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --bg-white-100: #d9d9d9;
  --bg-blue-100: #0066ee;
  --bg-blue-200: #0022aa;
  --primary-color: #0066ff;
  --bg-grey-100: #8a8a8a;
  --courier-family: "Courier Prime", serif;
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #ffffff; */
/*     --foreground: #171717; */
/*   } */
/* } */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "AmazingSlab", "serif";
  font-style: normal;
}

@font-face {
  font-family: "AmazingSlab";
  src: url("/fonts/amazing_slab/Amazing-Slab-Regular-trial.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AmazingSlab";
  src: url("/fonts/amazing_slab/Amazing-Slab-Bold-trial.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "AmazingSlab";
  src: url("/fonts/amazing_slab/Amazing-Slab-Italic-trial.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "RockwellNova";
  src: url("/fonts/rockwell-nova/RockwellNova.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RockwellNova";
  src: url("/fonts/rockwell-nova/RockwellNova-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "RockwellNova";
  src: url("/fonts/rockwell-nova/RockwellNova-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
